.nightMode canvas {
    box-shadow: 0 0 50px 20px rgba(82, 4, 207, 0.8) inset, 
                0 0 0 10px #000 inset,
                0 0 50px 20px rgba(82, 4, 207, 0.8);
}

body {
    font-family: 'Luminari', fantasy, sans-serif;
}

p {
    font-family: 'Luminari', fantasy, sans-serif;
}

input[type="button"], input[type="range"] {
    font-family: 'Luminari', fantasy, sans-serif;
}

#container {
    display: flex;
}
  
#reference-image {
    width: 100%;
    max-width: 400px;
    padding-left: 40px;
    text-align: right;
}

#reference-image img {
    max-width: 100%;
    height: auto;
}

#comments {
    display: flex;
    width: 300px;
    height: 405px;
    padding: 20px;
    position: fixed;
    right: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #bba232;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#notes {
    display: flex;
    width: 250px;
    padding: 20px;
    position: fixed;
    right: 353px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #bba232;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#controls {
    display: flex;
    width: 250px;
    height: 405px;
    padding: 20px;
    position: fixed;
    right: 650px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #bba232;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#caption {
    display: flex;
    width: 360px;
    padding: 20px;
    position: fixed;
    margin-top: 20px;
    left: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f80000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#sidePanel {
    display: none;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#buttons {
    display: flex;
    width: 250px;
    height: 405px;
    padding: 20px;
    position: fixed;
    right: 850px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}