.nightMode canvas {
    box-shadow: 0 0 50px 20px rgba(82, 4, 207, 0.8) inset, 
                0 0 0 10px #000 inset,
                0 0 50px 20px rgba(82, 4, 207, 0.8);
}

body {
    font-family: 'Luminari', fantasy, sans-serif;
}

p {
    font-family: 'Luminari', fantasy, sans-serif;
}

input[type="button"], input[type="range"] {
    font-family: 'Luminari', fantasy, sans-serif;
}

#container {
    display: flex;
}
  
#reference-image {
    width: 100%;
    max-width: 400px;
    padding-left: 40px;
    text-align: right;
}

#reference-image img {
    max-width: 100%;
    height: auto;
}

#comments {
    display: flex;
    width: 200px;
    padding: 20px;
    position: fixed;
    right: 265px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #bba232;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#features {
    display: flex;
    width: 200px;
    padding: 20px;
    position: fixed;
    right: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #bba232;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}