body {
  font-family: 'Luminari', fantasy, sans-serif;
}

p {
  font-family: 'Luminari', fantasy, sans-serif;
}

#container {
  display: flex;
}

#citations1 {
  display: flex;
  width: 25%;
  height: 80%;
  padding: 20px;
  position: fixed;
  right: 35%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #20dd7f;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#citations2 {
  display: flex;
  width: 25%;
  height: 80%;
  padding: 20px;
  position: fixed;
  right: 5%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #20dd7f;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#notes {
  display: flex;
  width: 25%;
  height: 80%;
  padding: 20px;
  position: fixed;
  right: 65%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #20dd7f;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}